body{
	background-color: $blue--base;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 1.4;
	font-weight: 500;
	color: $white;
	text-align: left;
}

#bodyTable{
	padding: 0;
	margin: 0;
}

#countdownIntro{
	background: $white;
	color: #6D7A88;
	padding-top: 48px;
	padding-bottom: 48px;
	padding-left: 80px;
	padding-right: 80px;

	a{
		color: darken(#6D7A88, 10%);
	}
}

#countdown1{
	height: 414px;
	padding-left: 80px;
	padding-right: 80px;
	text-align: center;
	margin: auto;
	background: $blue--base url(https://s3.amazonaws.com/sidewire-emails/Countdown_11-11-15/countdown1-bg.png) no-repeat center top;

	.card{
		width: 280px;
		margin-right: 16px;
	}
	.explainer{
		margin-left: 16px;
		width: 280px;
	}
}

#countdown2{
	height: 414px;
	padding-left: 80px;
	padding-right: 80px;
	text-align: center;
	margin: auto;
	background: $blue--darker url(https://s3.amazonaws.com/sidewire-emails/Countdown_11-11-15/countdown2-bg.png) no-repeat center top;

	.card{
		width: 280px;
		margin-left: 16px;
	}
	.explainer{
		margin-right: 16px;
		width: 280px;
	}
}

#countdown3{
	height: 414px;
	padding-left: 80px;
	padding-right: 80px;
	text-align: center;
	margin: auto;
	background: $blue--darkerer url(https://s3.amazonaws.com/sidewire-emails/Countdown_11-11-15/countdown3-bg.png) no-repeat center top;

	.card{
		width: 280px;
		margin-right: 16px;
	}
	.explainer{
		margin-left: 16px;
		width: 280px;
	}
}

#countdown4{
	height: 414px;
	padding-left: 80px;
	padding-right: 80px;
	text-align: center;
	margin: auto;
	background: $blue--darkest url(https://s3.amazonaws.com/sidewire-emails/Countdown_11-11-15/countdown4-bg.png) no-repeat center top;

	.card{
		width: 280px;
		margin-left: 16px;
	}
	.explainer{
		margin-right: 16px;
		width: 280px;
	}
}

#countdown5{
	height: 414px;
	padding-left: 80px;
	padding-right: 80px;
	text-align: center;
	margin: auto;
	background: $black url(https://s3.amazonaws.com/sidewire-emails/Countdown_11-11-15/countdown5-bg.png) no-repeat center top;

	.card{
		width: 280px;
		margin-right: 16px;
	}
	.explainer{
		margin-left: 16px;
		width: 280px;
	}
}

#emailFooter{
	background-color: #657382;
	height: 320px;
}

#downloadCopy{
	height: 96px;
}



