.stop-primary{
    stop-color: $angle-primary;
  }
  .stop-clear{
    stop-color: $angle-primary;
    stop-opacity: 0;
  }
  .fill-none{
    fill: none;
    fill-rule:  evenodd;
  }
  .fill-primary{
    fill: $angle-primary;
  }
  .fill-dk{
    fill: $angle-dk;
  }
  .fill-pale{
    fill: $angle-pale;
  }
  .fill-md{
    fill: $angle-md;
  }
  .fill-fade{
    fill: url(#tweetFade);
  }
  .fill-white{
    fill: $angle-white;
  }
  .style9{
    font-size: 14;
    font-weight: bold;
    fill: $angle-white;
  }
	.style10{
		font-size:	22.8;
		font-weight:	bold;
		fill:	$angle-primary;
	}
	.style11{
		font-size:	15.2;
	}
	.style12{
		stroke:	$angle-white;
		stroke-width:	4;
		fill:	$angle-primary;
	}
	.style13{
		font-size:	14;
		font-weight:	400;
		fill:	$angle-white;
	}
	.style14{
		font-size:	13.5;
	}
	.style15{
		font-size:	13.5;
		font-weight:	500;
	}
	.style16{
		font-size:	16;
		font-weight:	500;
		text-decoration:	underline;
	}
	.style17{
		font-size:	18;
		font-weight:	bold;
		fill:	$angle-white;
	}
	.font-semi{
		font-weight:	500;
	}
	.font-md{
		font-weight:	400;
	}