doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		link(rel='stylesheet', type='text/css', href='core.css')
	body(style='margin: 0px; padding: 0px;')
		table#bodyTable(border='0', cellpadding='0', cellspacing='0', height='100%', width='100%')
			tr
				td(align='center', valign='top', style='padding-top: 32px; padding-bottom: 24px;')
					a(href='http://sidewire.com?utm_source=graham_countdowm&utm_medium=email&utm_term=11_11&utm_content=logo&utm_campaign=graham-top5')
						img.headerLogo.imageFix(src='https://s3.amazonaws.com/sidewire-emails/Countdown_11-11-15/header.png')
			tr
				td#countdownIntro(align='left', valign='top')
					p Last night, Senator Lindsey Graham held the first-ever Livewire on Sidewire during the GOP debate. Before the show started, he promised 
						a(href='http://www.nytimes.com/politics/first-draft/2015/11/09/lindsey-graham-to-make-his-voice-heard-during-debate-on-social-media/') The New York Times
						span 
						| that he'd be "the funniest one of the whole debate" –  and if you read the highlights below, we know you'll agree.
					p To see all of his posts from last night, plus in-depth analysis from all of our other newsmakers, just 
						a(href='http://sidewire.com/download') download Sidewire
						span 
						| and check it out.
					p Enjoy,
					p Sidewire
			tr
				td#countdown1(align='center', valign='middle')
					table(border='0', cellspacing='0', height='100%', width='100%')
						tr
							td.card(align='center', valign='middle')
								a(href='http://sdw.re/1ShemFr')
									img.imageFix(src='https://s3.amazonaws.com/sidewire-emails/Countdown_11-11-15/countdown1-card.png')
							td.explainer(align='left', valign='middle')
								p Senator Graham started the night off strong. 

								p After putting on a big performance in the secondary debate last time around and missing the cutoff this time, he had some advice for the other candidates…
			tr
				td#countdown2(align='center', valign='middle')
					table(border='0', cellspacing='0', height='100%', width='100%')
						tr
							td.explainer(align='left', valign='middle')
								p Senator Graham’s friend, former Republican Presidential Nominee, and current Senator, John McCain, jumped on Sidewire to offer his support – and got a quick retort from Senator Graham.
							td.card(align='center', valign='middle')
								a(href='http://sdw.re/1QheTty')
									img.imageFix(src='https://s3.amazonaws.com/sidewire-emails/Countdown_11-11-15/countdown2-card.png')
			tr
				td#countdown3(align='center', valign='middle')
					table(border='0', cellspacing='0', height='100%', width='100%')
						tr
							td.card(align='center', valign='middle')
								a(href='http://sdw.re/1Y3yAXb')
									img.imageFix(src='https://s3.amazonaws.com/sidewire-emails/Countdown_11-11-15/countdown3-card.png')
							td.explainer(align='left', valign='middle')
								p Senator Graham – as the only veteran still running on the Republican side – had some strong words for the candidates on the stage about foreign policy and defense budgets.
			tr
				td#countdown4(align='center', valign='middle')
					table(border='0' cellspacing='0' width='100%')
						tr
							td.explainer(align='left', valign='middle')
								p Throughout the debate, Senator Graham didn’t hesitate to throw some jabs – notably at Senator Rand Paul for his remarks on the military and Carly Fiorina for her tax plan.
							td.card(align='center', valign='middle')
								a(href='http://sdw.re/1QhfOKh')
									img.imageFix(src='https://s3.amazonaws.com/sidewire-emails/Countdown_11-11-15/countdown4-card.png')
			tr
				td#countdown5(align='center', valign='middle')
					table(border='0' cellspacing='0' width='100%')
						tr
							td.card(align='center', valign='middle')
								a(href='http://sdw.re/1Y3E18z')
									img.imageFix(src='https://s3.amazonaws.com/sidewire-emails/Countdown_11-11-15/countdown5-card.png')
							td.explainer(align='left', valign='middle')
								p When all was said and done, Senator Graham had two last points to make: what he has to offer America and how much he enjoyed his evening.
			tr#emailFooter
				td(align='center' valign='middle')
					table(border='0' cellpadding='0' cellspacing='0' width='100%')
						tr
							td#downloadCopy(align='center' valign='middle')
								p Want more? You can download the app below!
						tr
							td(align='center' valign='top')
								table(border='0' cellpadding='0' cellspacing='0' width='100%')
									tr
										td.downloadLeft(align='right' valign='top')
											a(href='https://itunes.apple.com/us/app/sidewire/id1023491591?ls=1&mt=8')
												img(src='https://s3.amazonaws.com/sidewire-emails/Countdown_11-11-15/app-store-button.png')
										td.downloadMiddle(align='center' valign='top')
											a(href='https://play.google.com/store/apps/details?id=com.sidewire')
												img(src='https://s3.amazonaws.com/sidewire-emails/Countdown_11-11-15/google-store-button.png')
										td.downloadRight(align='left' valign='top')
											a(href='http://www.amazon.com/gp/mas/dl/android?p=com.sidewire')
												img(src='https://s3.amazonaws.com/sidewire-emails/Countdown_11-11-15/amazon-store-button.png')
						tr
							td(align='center' valign='top')
								table(border='0' cellpadding='0' cellspacing='0' width='100%')
									tr
										td(align='center' valign='top')
											p We'll see you in there.
									tr
										td(align='center' valign='top')
											img(src='https://s3.amazonaws.com/sidewire-emails/Countdown_11-11-15/footer-logo.png')
