extends ./partials/mailchute.pug
block content
  +insert-table()
    a(href='http://github.com/uberbryn/mailchute')
      img.x40(src='img/mailchute.png')
  +insert-table('left-align', 'pt2', 'px4')
    h1.h1.mt2.font-default.color-brand.left-align Mailchute
    p.h4.mt1.font-default.color-secondary.left-align.line-height-3 Mailchute is a combination of popular front-end development tools with a few tweaks to help designers build HTML emails quickly.
  +insert-table('font-default', 'left-align')
    p.left-align It uses:
    ul.left-align
      li.pb2
        a.bold.color-brand.text-decoration-none(href='https://github.com/gulpjs/gulp') Gulp
        span  to stream changes to data, templates, and stylesheets
      li.pb2
        a.bold.color-brand.text-decoration-none(href='https://github.com/pugjs/pug') Pug
        span  to make building templates and reusable components easy
      li.pb2
        a.bold.color-brand.text-decoration-none(href='https://github.com/sass/sass') SCSS
        span  to style it all up (including a few bits and pieces from
          a.bold.color-brand.text-decoration-none(href='https://github.com/basscss/basscss')  BassCSS
          span )
      li.pb2
        a.bold.color-brand.text-decoration-none(href='https://github.com/BrowserSync/browser-sync') BrowserSync
        span  to preview how your email will look
      li.pb2
        a.bold.color-brand.text-decoration-none(href='https://github.com/premailer/premailer') Premailer
        span  to inline your styles when you're ready to send it.

block footer
  table.fill-x(cellpadding='0', cellspacing='0')
    tr
      td.bg-color-brand.color-reverse.y8.font-default(align='center', valign='top')
        p Thanks for using Mailchute