.inline          { display: inline }
.block           { display: block }
.inline-block    { display: inline-block }
.table           { display: table }
.table-cell      { display: table-cell }

.overflow-hidden { overflow: hidden }
.overflow-scroll { overflow: scroll }
.overflow-auto   { overflow: auto }

.fit    { max-width: 100% }
.fill-x { width: 100% }
.fill-y { height: 100% }
.fill   { width: 100%; height: 100%; }

@for $i from 1 through 50 {
	.x#{$i} {width: #{$i * 1}rem;}
		.max-x#{$i} {max-width: #{$i * 1}rem;}
		.min-x#{$i} {min-width: #{$i * 1}rem;}
	.y#{$i} {height: #{$i * 1}rem;}
		.max-y#{$i} {max-height: #{$i * 1}rem;}
		.min-y#{$i} {min-height: #{$i * 1}rem;}
}